2025-06-16_NiFi2Iceberg/IcebergIngestion.json
{"flowContents":{"identifier":"4971c810-e8d2-39aa-bd88-c14fab4aa030","instanceIdentifier":"666cc29c-0197-1000-fccc-8eb3568db2c1","name":"IcebergIngestion","comments":"","position":{"x":-352.0,"y":-272.0},"processGroups":[{"identifier":"22f92515-78d6-37d3-8a20-2ba773c0b907","instanceIdentifier":"666de2c1-0197-1000-df40-1c00bbc5b261","name":"PutIceberg sim","comments":"","position":{"x":-176.0,"y":232.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"3e87a332-0a19-3395-8669-5c98451c43af","instanceIdentifier":"6697a415-0197-1000-f3b1-dc925c46ab71","name":"Convert to AVRO","comments":"","position":{"x":-1368.0,"y":-688.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"6a383a24-4f47-35d5-99c9-8d43a2e01b63","Record Reader":"bcec56ef-4962-3725-9d4f-02d059061227"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"22f92515-78d6-37d3-8a20-2ba773c0b907"},{"identifier":"d4ca00d7-9ab8-3104-b806-e55b613d50dc","instanceIdentifier":"66e7481d-0197-1000-7f7f-e7ece1f703ce","name":"ExecuteSQL","comments":"","position":{"x":-1368.0,"y":-200.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"ALTER TABLE mycloud.nifi_ingest.pokemon_spawns \nEXECUTE add_files(\n    location => 's3://#{s3.bucket}/#{bucket.path.add_files}/${filename}',\n    format => 'AVRO')","Database Connection Pooling Service":"4a3b783e-f5bb-3630-b675-ebd05b1b0f49","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"22f92515-78d6-37d3-8a20-2ba773c0b907"},{"identifier":"b585b60f-69c2-3ef1-b02f-1490d396054a","instanceIdentifier":"66d918d5-0197-1000-4ff5-0802e553d1f3","name":"PutS3Object","comments":"","position":{"x":-1368.0,"y":-448.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.4.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":null,"File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"server-side-encryption":"None","Write ACL User List":"${s3.permissions.writeacl.users}","encryption-service":null,"Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"#{bucket.path.add_files}/${filename}","AWS Credentials Provider service":"abfaa030-c050-3574-98d2-c604ee237227","Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"#{s3.bucket}","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"us-east-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"22f92515-78d6-37d3-8a20-2ba773c0b907"}],"inputPorts":[{"identifier":"96d47ca9-40b7-3ae0-88d3-8b4fca755da2","instanceIdentifier":"66926cf5-0197-1000-d424-e3acfc2663fd","name":"rawRecords","position":{"x":-1312.0,"y":-824.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"22f92515-78d6-37d3-8a20-2ba773c0b907"}],"outputPorts":[],"connections":[{"identifier":"9c9875c7-2720-36d0-a25b-0cbce6f6ea49","instanceIdentifier":"66e5b635-0197-1000-7a53-6f99d0c6faf8","name":"","source":{"id":"3e87a332-0a19-3395-8669-5c98451c43af","type":"PROCESSOR","groupId":"22f92515-78d6-37d3-8a20-2ba773c0b907","name":"Convert to AVRO","comments":"","instanceIdentifier":"6697a415-0197-1000-f3b1-dc925c46ab71"},"destination":{"id":"b585b60f-69c2-3ef1-b02f-1490d396054a","type":"PROCESSOR","groupId":"22f92515-78d6-37d3-8a20-2ba773c0b907","name":"PutS3Object","comments":"","instanceIdentifier":"66d918d5-0197-1000-4ff5-0802e553d1f3"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"22f92515-78d6-37d3-8a20-2ba773c0b907"},{"identifier":"280841df-5289-3d4d-b64b-1b8c7fce9233","instanceIdentifier":"6709bfd6-0197-1000-a17e-8d5e3765dba7","name":"","source":{"id":"d4ca00d7-9ab8-3104-b806-e55b613d50dc","type":"PROCESSOR","groupId":"22f92515-78d6-37d3-8a20-2ba773c0b907","name":"ExecuteSQL","comments":"","instanceIdentifier":"66e7481d-0197-1000-7f7f-e7ece1f703ce"},"destination":{"id":"afb561ba-c69a-3e3a-bb6e-590c5575305f","type":"FUNNEL","groupId":"22f92515-78d6-37d3-8a20-2ba773c0b907","name":"Funnel","comments":"","instanceIdentifier":"6709ab0b-0197-1000-4fab-0a3d5ecb2447"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"22f92515-78d6-37d3-8a20-2ba773c0b907"},{"identifier":"f3c71c66-881b-3da4-9b81-a8ed48ef655b","instanceIdentifier":"66cf5ef8-0197-1000-282e-d6646b770b65","name":"","source":{"id":"3e87a332-0a19-3395-8669-5c98451c43af","type":"PROCESSOR","groupId":"22f92515-78d6-37d3-8a20-2ba773c0b907","name":"Convert to AVRO","comments":"","instanceIdentifier":"6697a415-0197-1000-f3b1-dc925c46ab71"},"destination":{"id":"afed5a5a-cc1f-3350-b545-06bbb16a4dff","type":"FUNNEL","groupId":"22f92515-78d6-37d3-8a20-2ba773c0b907","name":"Funnel","comments":"","instanceIdentifier":"66cf4b53-0197-1000-68d1-8a67b2650d1d"},"labelIndex":0,"zIndex":3,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"22f92515-78d6-37d3-8a20-2ba773c0b907"},{"identifier":"62e1bcab-562d-332f-acf9-94175bd77662","instanceIdentifier":"6697b955-0197-1000-61b0-3fb85c1bc8a8","name":"","source":{"id":"96d47ca9-40b7-3ae0-88d3-8b4fca755da2","type":"INPUT_PORT","groupId":"22f92515-78d6-37d3-8a20-2ba773c0b907","name":"rawRecords","instanceIdentifier":"66926cf5-0197-1000-d424-e3acfc2663fd"},"destination":{"id":"3e87a332-0a19-3395-8669-5c98451c43af","type":"PROCESSOR","groupId":"22f92515-78d6-37d3-8a20-2ba773c0b907","name":"Convert to AVRO","comments":"","instanceIdentifier":"6697a415-0197-1000-f3b1-dc925c46ab71"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"22f92515-78d6-37d3-8a20-2ba773c0b907"},{"identifier":"3507e7da-df04-3858-ae38-1554f48e53d8","instanceIdentifier":"66e6e13d-0197-1000-2ecd-7a3a242d6572","name":"","source":{"id":"b585b60f-69c2-3ef1-b02f-1490d396054a","type":"PROCESSOR","groupId":"22f92515-78d6-37d3-8a20-2ba773c0b907","name":"PutS3Object","comments":"","instanceIdentifier":"66d918d5-0197-1000-4ff5-0802e553d1f3"},"destination":{"id":"afed5a5a-cc1f-3350-b545-06bbb16a4dff","type":"FUNNEL","groupId":"22f92515-78d6-37d3-8a20-2ba773c0b907","name":"Funnel","comments":"","instanceIdentifier":"66cf4b53-0197-1000-68d1-8a67b2650d1d"},"labelIndex":0,"zIndex":5,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"22f92515-78d6-37d3-8a20-2ba773c0b907"},{"identifier":"18f766cb-8e4e-3dab-9fc9-b63453be25fd","instanceIdentifier":"67098435-0197-1000-43fe-3045ceb45d45","name":"","source":{"id":"d4ca00d7-9ab8-3104-b806-e55b613d50dc","type":"PROCESSOR","groupId":"22f92515-78d6-37d3-8a20-2ba773c0b907","name":"ExecuteSQL","comments":"","instanceIdentifier":"66e7481d-0197-1000-7f7f-e7ece1f703ce"},"destination":{"id":"afed5a5a-cc1f-3350-b545-06bbb16a4dff","type":"FUNNEL","groupId":"22f92515-78d6-37d3-8a20-2ba773c0b907","name":"Funnel","comments":"","instanceIdentifier":"66cf4b53-0197-1000-68d1-8a67b2650d1d"},"labelIndex":0,"zIndex":7,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"22f92515-78d6-37d3-8a20-2ba773c0b907"},{"identifier":"7ae902e0-00ea-3312-975e-e98a07cded25","instanceIdentifier":"66e75f17-0197-1000-eacc-399ed815dc34","name":"","source":{"id":"b585b60f-69c2-3ef1-b02f-1490d396054a","type":"PROCESSOR","groupId":"22f92515-78d6-37d3-8a20-2ba773c0b907","name":"PutS3Object","comments":"","instanceIdentifier":"66d918d5-0197-1000-4ff5-0802e553d1f3"},"destination":{"id":"d4ca00d7-9ab8-3104-b806-e55b613d50dc","type":"PROCESSOR","groupId":"22f92515-78d6-37d3-8a20-2ba773c0b907","name":"ExecuteSQL","comments":"","instanceIdentifier":"66e7481d-0197-1000-7f7f-e7ece1f703ce"},"labelIndex":0,"zIndex":6,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"22f92515-78d6-37d3-8a20-2ba773c0b907"}],"labels":[],"funnels":[{"identifier":"afed5a5a-cc1f-3350-b545-06bbb16a4dff","instanceIdentifier":"66cf4b53-0197-1000-68d1-8a67b2650d1d","position":{"x":-544.0,"y":-392.0},"componentType":"FUNNEL","groupIdentifier":"22f92515-78d6-37d3-8a20-2ba773c0b907"},{"identifier":"afb561ba-c69a-3e3a-bb6e-590c5575305f","instanceIdentifier":"6709ab0b-0197-1000-4fab-0a3d5ecb2447","position":{"x":-1216.0,"y":48.0},"componentType":"FUNNEL","groupIdentifier":"22f92515-78d6-37d3-8a20-2ba773c0b907"}],"controllerServices":[],"parameterContextName":"IcebergIngestion","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"4971c810-e8d2-39aa-bd88-c14fab4aa030"},{"identifier":"2df64335-644a-3ac4-a6d2-de5c7159f20d","instanceIdentifier":"6745f7b9-0197-1000-33bf-15bdda750b9a","name":"Ephemeral tables","comments":"","position":{"x":352.0,"y":232.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d0edecfa-4133-3cfb-ac23-01f7cb2cfd75","instanceIdentifier":"6791de94-0197-1000-bfdf-2888a2c143e8","name":"Remove S3 files","comments":"","position":{"x":-968.0,"y":16.0},"type":"org.apache.nifi.processors.aws.s3.DeleteS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.4.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Endpoint Override URL":null,"custom-signer-class-name":null,"Object Key":"${s3.key}","AWS Credentials Provider service":"abfaa030-c050-3574-98d2-c604ee237227","custom-signer-module-location":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"${s3.bucket}","Version":null,"Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"us-east-2","Read Permission User List":"${s3.permissions.read.users}","Write ACL User List":"${s3.permissions.writeacl.users}","Read ACL User List":"${s3.permissions.readacl.users}"},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2df64335-644a-3ac4-a6d2-de5c7159f20d"},{"identifier":"67474bba-0197-1000-7f0b-8bca79d5a1ae","instanceIdentifier":"f4a76456-0f09-317c-83e1-28c5d42f07e6","name":"Stage files on S3 (uuid dir)","comments":"","position":{"x":-968.0,"y":-432.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.4.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":null,"File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"server-side-encryption":"None","Write ACL User List":"${s3.permissions.writeacl.users}","encryption-service":null,"Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"#{bucket.path.ephemeral_tables}/${uuid}/${filename}","AWS Credentials Provider service":"abfaa030-c050-3574-98d2-c604ee237227","Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"#{s3.bucket}","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"us-east-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2df64335-644a-3ac4-a6d2-de5c7159f20d"},{"identifier":"67490099-0197-1000-fa28-65ff47e18ca4","instanceIdentifier":"deb57d7a-f2cf-3826-d77c-5faa550deef8","name":"CREATE / ITAS / DROP","comments":"","position":{"x":-968.0,"y":-208.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"INSERT INTO mycloud.nifi_ingest.pokemon_spawns\n  SELECT * FROM mycloud.nifi_ingest.${uuidnodash}","Database Connection Pooling Service":"4a3b783e-f5bb-3630-b675-ebd05b1b0f49","sql-post-query":"DROP TABLE mycloud.nifi_ingest.${uuidnodash}","esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":"CREATE TABLE mycloud.nifi_ingest.${uuidnodash} (\n    s2_id bigint, s2_token varchar,\n    num int, name varchar,\n    lat double, lng double,\n    encounter_ms bigint, disppear_ms bigint\n)\nWITH (type = 'hive', format = 'TEXTFILE', textfile_field_separator = ',',\n      external_location = 's3://#{s3.bucket}/#{bucket.path.ephemeral_tables}/${uuid}')","compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2df64335-644a-3ac4-a6d2-de5c7159f20d"}],"inputPorts":[{"identifier":"b78e6557-e6f7-3c52-be56-ad662a7c6edf","instanceIdentifier":"67463576-0197-1000-c7d7-354906f69022","name":"rawRecords","position":{"x":-912.0,"y":-568.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"2df64335-644a-3ac4-a6d2-de5c7159f20d"}],"outputPorts":[],"connections":[{"identifier":"41029ccd-5cce-3d3c-9f79-afef29fc758a","instanceIdentifier":"67930556-0197-1000-b4db-9c512940f6b0","name":"","source":{"id":"d0edecfa-4133-3cfb-ac23-01f7cb2cfd75","type":"PROCESSOR","groupId":"2df64335-644a-3ac4-a6d2-de5c7159f20d","name":"Remove S3 files","comments":"","instanceIdentifier":"6791de94-0197-1000-bfdf-2888a2c143e8"},"destination":{"id":"3783ce51-9404-35f9-b1cf-d694c419bee2","type":"FUNNEL","groupId":"2df64335-644a-3ac4-a6d2-de5c7159f20d","name":"Funnel","comments":"","instanceIdentifier":"6749a2f4-0197-1000-1df6-e1393f52bdb5"},"labelIndex":0,"zIndex":9,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2df64335-644a-3ac4-a6d2-de5c7159f20d"},{"identifier":"bf5da955-3e0c-3f9f-822d-2c39c5eed9c5","instanceIdentifier":"6747e312-0197-1000-c65c-37948841362d","name":"","source":{"id":"b78e6557-e6f7-3c52-be56-ad662a7c6edf","type":"INPUT_PORT","groupId":"2df64335-644a-3ac4-a6d2-de5c7159f20d","name":"rawRecords","instanceIdentifier":"67463576-0197-1000-c7d7-354906f69022"},"destination":{"id":"67474bba-0197-1000-7f0b-8bca79d5a1ae","type":"PROCESSOR","groupId":"2df64335-644a-3ac4-a6d2-de5c7159f20d","name":"Stage files on S3 (uuid dir)","comments":"","instanceIdentifier":"f4a76456-0f09-317c-83e1-28c5d42f07e6"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2df64335-644a-3ac4-a6d2-de5c7159f20d"},{"identifier":"55fc4f47-de5b-31ee-a077-d6a85b8c0d1a","instanceIdentifier":"67499b86-0197-1000-ae77-3c6b33a39cc2","name":"","source":{"id":"67474bba-0197-1000-7f0b-8bca79d5a1ae","type":"PROCESSOR","groupId":"2df64335-644a-3ac4-a6d2-de5c7159f20d","name":"Stage files on S3 (uuid dir)","comments":"","instanceIdentifier":"f4a76456-0f09-317c-83e1-28c5d42f07e6"},"destination":{"id":"67490099-0197-1000-fa28-65ff47e18ca4","type":"PROCESSOR","groupId":"2df64335-644a-3ac4-a6d2-de5c7159f20d","name":"CREATE / ITAS / DROP","comments":"","instanceIdentifier":"deb57d7a-f2cf-3826-d77c-5faa550deef8"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2df64335-644a-3ac4-a6d2-de5c7159f20d"},{"identifier":"a5f1f8a4-5c26-35cd-92f9-ac4901bcd989","instanceIdentifier":"675db68b-0197-1000-4fae-346369a9b70a","name":"","source":{"id":"67490099-0197-1000-fa28-65ff47e18ca4","type":"PROCESSOR","groupId":"2df64335-644a-3ac4-a6d2-de5c7159f20d","name":"CREATE / ITAS / DROP","comments":"","instanceIdentifier":"deb57d7a-f2cf-3826-d77c-5faa550deef8"},"destination":{"id":"3783ce51-9404-35f9-b1cf-d694c419bee2","type":"FUNNEL","groupId":"2df64335-644a-3ac4-a6d2-de5c7159f20d","name":"Funnel","comments":"","instanceIdentifier":"6749a2f4-0197-1000-1df6-e1393f52bdb5"},"labelIndex":0,"zIndex":4,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2df64335-644a-3ac4-a6d2-de5c7159f20d"},{"identifier":"e5bfb3d0-53f0-373d-80ab-7eac59b18972","instanceIdentifier":"6749b838-0197-1000-049f-051504a9ec1f","name":"","source":{"id":"67474bba-0197-1000-7f0b-8bca79d5a1ae","type":"PROCESSOR","groupId":"2df64335-644a-3ac4-a6d2-de5c7159f20d","name":"Stage files on S3 (uuid dir)","comments":"","instanceIdentifier":"f4a76456-0f09-317c-83e1-28c5d42f07e6"},"destination":{"id":"3783ce51-9404-35f9-b1cf-d694c419bee2","type":"FUNNEL","groupId":"2df64335-644a-3ac4-a6d2-de5c7159f20d","name":"Funnel","comments":"","instanceIdentifier":"6749a2f4-0197-1000-1df6-e1393f52bdb5"},"labelIndex":0,"zIndex":3,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2df64335-644a-3ac4-a6d2-de5c7159f20d"},{"identifier":"eb3a80e1-a15f-3400-9187-e575fb3c3e72","instanceIdentifier":"6792e3f5-0197-1000-ca1a-318b0bf341cb","name":"","source":{"id":"d0edecfa-4133-3cfb-ac23-01f7cb2cfd75","type":"PROCESSOR","groupId":"2df64335-644a-3ac4-a6d2-de5c7159f20d","name":"Remove S3 files","comments":"","instanceIdentifier":"6791de94-0197-1000-bfdf-2888a2c143e8"},"destination":{"id":"c832b371-fb6b-3a73-8424-b9780b3b5db9","type":"FUNNEL","groupId":"2df64335-644a-3ac4-a6d2-de5c7159f20d","name":"Funnel","comments":"","instanceIdentifier":"675e963b-0197-1000-3c8e-d3bd3944ce78"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2df64335-644a-3ac4-a6d2-de5c7159f20d"},{"identifier":"3363403d-ba4b-3d9b-b99b-875ec7f19b98","instanceIdentifier":"679204bb-0197-1000-e0f3-4ba4d7462deb","name":"","source":{"id":"67490099-0197-1000-fa28-65ff47e18ca4","type":"PROCESSOR","groupId":"2df64335-644a-3ac4-a6d2-de5c7159f20d","name":"CREATE / ITAS / DROP","comments":"","instanceIdentifier":"deb57d7a-f2cf-3826-d77c-5faa550deef8"},"destination":{"id":"d0edecfa-4133-3cfb-ac23-01f7cb2cfd75","type":"PROCESSOR","groupId":"2df64335-644a-3ac4-a6d2-de5c7159f20d","name":"Remove S3 files","comments":"","instanceIdentifier":"6791de94-0197-1000-bfdf-2888a2c143e8"},"labelIndex":0,"zIndex":7,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2df64335-644a-3ac4-a6d2-de5c7159f20d"}],"labels":[],"funnels":[{"identifier":"3783ce51-9404-35f9-b1cf-d694c419bee2","instanceIdentifier":"6749a2f4-0197-1000-1df6-e1393f52bdb5","position":{"x":-200.0,"y":-168.0},"componentType":"FUNNEL","groupIdentifier":"2df64335-644a-3ac4-a6d2-de5c7159f20d"},{"identifier":"c832b371-fb6b-3a73-8424-b9780b3b5db9","instanceIdentifier":"675e963b-0197-1000-3c8e-d3bd3944ce78","position":{"x":-816.0,"y":256.0},"componentType":"FUNNEL","groupIdentifier":"2df64335-644a-3ac4-a6d2-de5c7159f20d"}],"controllerServices":[],"parameterContextName":"IcebergIngestion","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"4971c810-e8d2-39aa-bd88-c14fab4aa030"},{"identifier":"668695ba-0197-1000-80bc-1badb6c6cc13","instanceIdentifier":"042a07ab-9560-3842-d0a1-6ff43730a804","name":"Get data (batch or streaming)","comments":"","position":{"x":80.0,"y":-160.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"668695bd-0197-1000-8876-a42f58c42cfb","instanceIdentifier":"09099ea0-028d-36f7-b173-275f3b2dcc1b","name":"FetchFile","comments":"","position":{"x":-1016.0,"y":-824.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","permission.denied","not.found"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"668695ba-0197-1000-80bc-1badb6c6cc13"},{"identifier":"8424c3a1-eae4-38b3-a8ee-46b0dfc05204","instanceIdentifier":"66bcb18f-0197-1000-b6c3-befb7c4ee760","name":"Mock as batch or streaming input","comments":"","position":{"x":-1016.0,"y":-360.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"39ea02d3-ca68-3c1a-ba8b-e5594a7d742d","Record Reader":"bcec56ef-4962-3725-9d4f-02d059061227"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"668695ba-0197-1000-80bc-1badb6c6cc13"},{"identifier":"668695be-0197-1000-cc39-6a66ba598f34","instanceIdentifier":"ae8fe70a-12bc-3ea9-6c3f-302bfba8692d","name":"ListFile","comments":"","position":{"x":-1016.0,"y":-1040.0},"type":"org.apache.nifi.processors.standard.ListFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Minimum File Age":"0 sec","et-initial-listing-target":"all","Maximum File Age":null,"max-listing-time":"3 mins","record-writer":null,"Maximum File Size":null,"et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"timestamps","Input Directory":"/Users/lester.martin/explore/mocks/nifi_ingest/folders/ingest","target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"0 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"668695ba-0197-1000-80bc-1badb6c6cc13"},{"identifier":"b84d0407-103c-3a7c-a6c1-e7308fa9b2d8","instanceIdentifier":"66b7d0ec-0197-1000-b31d-0d45313a9a38","name":"schema name + mod fname & uuid","comments":"","position":{"x":-1016.0,"y":-592.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"${filename}-${uuid}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","schema.name":"pokemon_spawn","Stateful Variables Initial Value":null,"uuidnodash":"nodash_${uuid:replaceAll('-', '')}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"uuidnodash":{"name":"uuidnodash","displayName":"uuidnodash","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"668695ba-0197-1000-80bc-1badb6c6cc13"}],"inputPorts":[],"outputPorts":[{"identifier":"592a9b6c-bb99-38be-8648-289a924d371b","instanceIdentifier":"6690ead9-0197-1000-1462-a8005f647fc4","name":"rawRecords","position":{"x":-960.0,"y":-144.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"668695ba-0197-1000-80bc-1badb6c6cc13"}],"connections":[{"identifier":"668695ca-0197-1000-45d0-930cd213e059","instanceIdentifier":"ef386b8f-3221-3bab-1511-0e91376bcb1a","name":"","source":{"id":"668695be-0197-1000-cc39-6a66ba598f34","type":"PROCESSOR","groupId":"668695ba-0197-1000-80bc-1badb6c6cc13","name":"ListFile","comments":"","instanceIdentifier":"ae8fe70a-12bc-3ea9-6c3f-302bfba8692d"},"destination":{"id":"668695bd-0197-1000-8876-a42f58c42cfb","type":"PROCESSOR","groupId":"668695ba-0197-1000-80bc-1badb6c6cc13","name":"FetchFile","comments":"","instanceIdentifier":"09099ea0-028d-36f7-b173-275f3b2dcc1b"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"668695ba-0197-1000-80bc-1badb6c6cc13"},{"identifier":"aa2127aa-8233-38bc-8f65-68d5adbe95c2","instanceIdentifier":"66c96304-0197-1000-e09f-d7f75c6a19ea","name":"","source":{"id":"8424c3a1-eae4-38b3-a8ee-46b0dfc05204","type":"PROCESSOR","groupId":"668695ba-0197-1000-80bc-1badb6c6cc13","name":"Mock as batch or streaming input","comments":"","instanceIdentifier":"66bcb18f-0197-1000-b6c3-befb7c4ee760"},"destination":{"id":"592a9b6c-bb99-38be-8648-289a924d371b","type":"OUTPUT_PORT","groupId":"668695ba-0197-1000-80bc-1badb6c6cc13","name":"rawRecords","instanceIdentifier":"6690ead9-0197-1000-1462-a8005f647fc4"},"labelIndex":0,"zIndex":13,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"668695ba-0197-1000-80bc-1badb6c6cc13"},{"identifier":"6c243114-61a9-36ea-9d44-e7b1ebb22644","instanceIdentifier":"66b7e520-0197-1000-7f8b-78966f712e8e","name":"","source":{"id":"668695bd-0197-1000-8876-a42f58c42cfb","type":"PROCESSOR","groupId":"668695ba-0197-1000-80bc-1badb6c6cc13","name":"FetchFile","comments":"","instanceIdentifier":"09099ea0-028d-36f7-b173-275f3b2dcc1b"},"destination":{"id":"b84d0407-103c-3a7c-a6c1-e7308fa9b2d8","type":"PROCESSOR","groupId":"668695ba-0197-1000-80bc-1badb6c6cc13","name":"schema name + mod fname & uuid","comments":"","instanceIdentifier":"66b7d0ec-0197-1000-b31d-0d45313a9a38"},"labelIndex":0,"zIndex":11,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"668695ba-0197-1000-80bc-1badb6c6cc13"},{"identifier":"b6c71995-c759-3fb9-b46b-9ffcce791896","instanceIdentifier":"66bcc2aa-0197-1000-3e08-75ac481bb196","name":"","source":{"id":"b84d0407-103c-3a7c-a6c1-e7308fa9b2d8","type":"PROCESSOR","groupId":"668695ba-0197-1000-80bc-1badb6c6cc13","name":"schema name + mod fname & uuid","comments":"","instanceIdentifier":"66b7d0ec-0197-1000-b31d-0d45313a9a38"},"destination":{"id":"8424c3a1-eae4-38b3-a8ee-46b0dfc05204","type":"PROCESSOR","groupId":"668695ba-0197-1000-80bc-1badb6c6cc13","name":"Mock as batch or streaming input","comments":"","instanceIdentifier":"66bcb18f-0197-1000-b6c3-befb7c4ee760"},"labelIndex":0,"zIndex":12,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"668695ba-0197-1000-80bc-1badb6c6cc13"},{"identifier":"e1cd357d-5c15-3da0-be03-0c63bf94fe98","instanceIdentifier":"66cb6c03-0197-1000-4a2d-3405a3ffe706","name":"","source":{"id":"8424c3a1-eae4-38b3-a8ee-46b0dfc05204","type":"PROCESSOR","groupId":"668695ba-0197-1000-80bc-1badb6c6cc13","name":"Mock as batch or streaming input","comments":"","instanceIdentifier":"66bcb18f-0197-1000-b6c3-befb7c4ee760"},"destination":{"id":"668695c2-0197-1000-b362-5d52bfeae918","type":"FUNNEL","groupId":"668695ba-0197-1000-80bc-1badb6c6cc13","name":"Funnel","comments":"","instanceIdentifier":"38f06ee8-ef4d-3f77-7715-5065d14aa646"},"labelIndex":0,"zIndex":14,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"668695ba-0197-1000-80bc-1badb6c6cc13"}],"labels":[],"funnels":[{"identifier":"668695c2-0197-1000-b362-5d52bfeae918","instanceIdentifier":"38f06ee8-ef4d-3f77-7715-5065d14aa646","position":{"x":-312.0,"y":-320.0},"componentType":"FUNNEL","groupIdentifier":"668695ba-0197-1000-80bc-1badb6c6cc13"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"4971c810-e8d2-39aa-bd88-c14fab4aa030"},{"identifier":"f8bd880f-0905-35e6-8c75-ebb999f8c084","instanceIdentifier":"65d6e7a6-0197-1000-89d6-c26240fa79a6","name":"simple flow","comments":"","position":{"x":-320.0,"y":-456.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4e194294-0367-32d1-b72b-7a1637cb13d1","instanceIdentifier":"65e9b8e3-0197-1000-c9a2-58a57efb9b1e","name":"Verify Text File","comments":"","position":{"x":-984.0,"y":152.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Routing Strategy":"Route to Property name","tutorial.isText":"${filename:endsWith('.txt')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"tutorial.isText":{"name":"tutorial.isText","displayName":"tutorial.isText","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f8bd880f-0905-35e6-8c75-ebb999f8c084"},{"identifier":"b0bf6f6d-c81c-368a-9b5c-5119579dc29f","instanceIdentifier":"65f30d44-0197-1000-e636-2f922bf5c730","name":"PutFile","comments":"","position":{"x":-984.0,"y":672.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/Users/lester.martin/explore/mocks/intro/folders/egress/${tutorial.sizeCategory}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f8bd880f-0905-35e6-8c75-ebb999f8c084"},{"identifier":"5de2dd81-0b1a-3ecf-ab88-cd7303bbe06e","instanceIdentifier":"65de1d4b-0197-1000-7220-146787b193b9","name":"FetchFile","comments":"","position":{"x":-984.0,"y":-600.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","permission.denied","not.found"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f8bd880f-0905-35e6-8c75-ebb999f8c084"},{"identifier":"8758dc8f-fd14-32c1-9df3-a7557ef9419b","instanceIdentifier":"65dca680-0197-1000-deca-378c251fd605","name":"ListFile","comments":"","position":{"x":-984.0,"y":-840.0},"type":"org.apache.nifi.processors.standard.ListFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Minimum File Age":"0 sec","et-initial-listing-target":"all","Maximum File Age":null,"max-listing-time":"3 mins","record-writer":null,"Maximum File Size":null,"et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"timestamps","Input Directory":"/Users/lester.martin/explore/mocks/intro/folders/ingest","target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"0 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f8bd880f-0905-35e6-8c75-ebb999f8c084"},{"identifier":"879aa805-b24d-3359-bd09-3c018d84a446","instanceIdentifier":"65eed8d5-0197-1000-903a-dd9fec349f25","name":"Check fileSize","comments":"","position":{"x":-984.0,"y":400.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"tutorial.sizeCategory":"${fileSize:lt(75000):ifElse('small', \n  ${fileSize:lt(150000):ifElse('medium','large')})}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"tutorial.sizeCategory":{"name":"tutorial.sizeCategory","displayName":"tutorial.sizeCategory","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f8bd880f-0905-35e6-8c75-ebb999f8c084"},{"identifier":"afc56ce8-1119-39b5-9c54-a40203535567","instanceIdentifier":"65ded224-0197-1000-1047-b1bc7268f09a","name":"IdentifyMimeType","comments":"","position":{"x":-984.0,"y":-344.0},"type":"org.apache.nifi.processors.standard.IdentifyMimeType","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"config-strategy":"Preset","use-filename-in-detection":"true","Custom MIME Configuration":null},"propertyDescriptors":{"config-strategy":{"name":"config-strategy","displayName":"Config Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-filename-in-detection":{"name":"use-filename-in-detection","displayName":"Use Filename In Detection","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom MIME Configuration":{"name":"Custom MIME Configuration","displayName":"Custom MIME Configuration","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["URL","FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f8bd880f-0905-35e6-8c75-ebb999f8c084"},{"identifier":"01bbaefe-0772-3382-b5a4-ce91ebc2ea7f","instanceIdentifier":"65dfa583-0197-1000-1c51-36c5ce3e3d3b","name":"UnpackContent","comments":"","position":{"x":-984.0,"y":-104.0},"type":"org.apache.nifi.processors.standard.UnpackContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Packaging Format":"use mime.type attribute","allow-stored-entries-wdd":"false","Filename Character Set":"UTF-8","File Filter":".*"},"propertyDescriptors":{"Packaging Format":{"name":"Packaging Format","displayName":"Packaging Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"allow-stored-entries-wdd":{"name":"allow-stored-entries-wdd","displayName":"Allow Stored Entries With Data Descriptor","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Filename Character Set":{"name":"Filename Character Set","displayName":"Filename Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f8bd880f-0905-35e6-8c75-ebb999f8c084"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"c9c670dd-957d-33ed-981a-dbcc34a543d0","instanceIdentifier":"65dfbfe9-0197-1000-5e10-79ba986594ca","name":"","source":{"id":"afc56ce8-1119-39b5-9c54-a40203535567","type":"PROCESSOR","groupId":"f8bd880f-0905-35e6-8c75-ebb999f8c084","name":"IdentifyMimeType","comments":"","instanceIdentifier":"65ded224-0197-1000-1047-b1bc7268f09a"},"destination":{"id":"01bbaefe-0772-3382-b5a4-ce91ebc2ea7f","type":"PROCESSOR","groupId":"f8bd880f-0905-35e6-8c75-ebb999f8c084","name":"UnpackContent","comments":"","instanceIdentifier":"65dfa583-0197-1000-1c51-36c5ce3e3d3b"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f8bd880f-0905-35e6-8c75-ebb999f8c084"},{"identifier":"d9ae5b28-1a3d-36cf-a0b9-43bf9cd3f48e","instanceIdentifier":"65f31e9e-0197-1000-1dd0-a82695569c03","name":"","source":{"id":"879aa805-b24d-3359-bd09-3c018d84a446","type":"PROCESSOR","groupId":"f8bd880f-0905-35e6-8c75-ebb999f8c084","name":"Check fileSize","comments":"","instanceIdentifier":"65eed8d5-0197-1000-903a-dd9fec349f25"},"destination":{"id":"b0bf6f6d-c81c-368a-9b5c-5119579dc29f","type":"PROCESSOR","groupId":"f8bd880f-0905-35e6-8c75-ebb999f8c084","name":"PutFile","comments":"","instanceIdentifier":"65f30d44-0197-1000-e636-2f922bf5c730"},"labelIndex":0,"zIndex":7,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f8bd880f-0905-35e6-8c75-ebb999f8c084"},{"identifier":"bad70aea-29e8-3532-b335-12e29e4f1d99","instanceIdentifier":"65eef39a-0197-1000-9a6d-c91ec5343b7b","name":"","source":{"id":"4e194294-0367-32d1-b72b-7a1637cb13d1","type":"PROCESSOR","groupId":"f8bd880f-0905-35e6-8c75-ebb999f8c084","name":"Verify Text File","comments":"","instanceIdentifier":"65e9b8e3-0197-1000-c9a2-58a57efb9b1e"},"destination":{"id":"879aa805-b24d-3359-bd09-3c018d84a446","type":"PROCESSOR","groupId":"f8bd880f-0905-35e6-8c75-ebb999f8c084","name":"Check fileSize","comments":"","instanceIdentifier":"65eed8d5-0197-1000-903a-dd9fec349f25"},"labelIndex":0,"zIndex":5,"selectedRelationships":["tutorial.isText"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f8bd880f-0905-35e6-8c75-ebb999f8c084"},{"identifier":"79fabade-652b-3986-999e-a1f9f44ea01b","instanceIdentifier":"65f5741d-0197-1000-8b3c-a2db74df9525","name":"","source":{"id":"b0bf6f6d-c81c-368a-9b5c-5119579dc29f","type":"PROCESSOR","groupId":"f8bd880f-0905-35e6-8c75-ebb999f8c084","name":"PutFile","comments":"","instanceIdentifier":"65f30d44-0197-1000-e636-2f922bf5c730"},"destination":{"id":"2f517f6e-1295-3491-b2b5-73fd8872c954","type":"FUNNEL","groupId":"f8bd880f-0905-35e6-8c75-ebb999f8c084","name":"Funnel","comments":"","instanceIdentifier":"65ef70f4-0197-1000-69ca-62deed4f19ae"},"labelIndex":0,"zIndex":8,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f8bd880f-0905-35e6-8c75-ebb999f8c084"},{"identifier":"b7e6b0d0-c5e9-3add-958d-8fab8919a3a8","instanceIdentifier":"65e9cc27-0197-1000-9201-0b568e3e725a","name":"","source":{"id":"01bbaefe-0772-3382-b5a4-ce91ebc2ea7f","type":"PROCESSOR","groupId":"f8bd880f-0905-35e6-8c75-ebb999f8c084","name":"UnpackContent","comments":"","instanceIdentifier":"65dfa583-0197-1000-1c51-36c5ce3e3d3b"},"destination":{"id":"4e194294-0367-32d1-b72b-7a1637cb13d1","type":"PROCESSOR","groupId":"f8bd880f-0905-35e6-8c75-ebb999f8c084","name":"Verify Text File","comments":"","instanceIdentifier":"65e9b8e3-0197-1000-c9a2-58a57efb9b1e"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f8bd880f-0905-35e6-8c75-ebb999f8c084"},{"identifier":"8e9b5823-e465-3744-93d6-ac1b397c6b62","instanceIdentifier":"65efa6c9-0197-1000-b096-fcbbad1b9bd3","name":"","source":{"id":"4e194294-0367-32d1-b72b-7a1637cb13d1","type":"PROCESSOR","groupId":"f8bd880f-0905-35e6-8c75-ebb999f8c084","name":"Verify Text File","comments":"","instanceIdentifier":"65e9b8e3-0197-1000-c9a2-58a57efb9b1e"},"destination":{"id":"2f517f6e-1295-3491-b2b5-73fd8872c954","type":"FUNNEL","groupId":"f8bd880f-0905-35e6-8c75-ebb999f8c084","name":"Funnel","comments":"","instanceIdentifier":"65ef70f4-0197-1000-69ca-62deed4f19ae"},"labelIndex":0,"zIndex":6,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f8bd880f-0905-35e6-8c75-ebb999f8c084"},{"identifier":"b74571c8-c9c5-3cef-a0f4-c93d955f2f0e","instanceIdentifier":"65df17d8-0197-1000-58de-1d35f98077db","name":"","source":{"id":"5de2dd81-0b1a-3ecf-ab88-cd7303bbe06e","type":"PROCESSOR","groupId":"f8bd880f-0905-35e6-8c75-ebb999f8c084","name":"FetchFile","comments":"","instanceIdentifier":"65de1d4b-0197-1000-7220-146787b193b9"},"destination":{"id":"afc56ce8-1119-39b5-9c54-a40203535567","type":"PROCESSOR","groupId":"f8bd880f-0905-35e6-8c75-ebb999f8c084","name":"IdentifyMimeType","comments":"","instanceIdentifier":"65ded224-0197-1000-1047-b1bc7268f09a"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f8bd880f-0905-35e6-8c75-ebb999f8c084"},{"identifier":"c4eb00e9-5ed6-3341-934b-5e6cc2fb2d89","instanceIdentifier":"65de53d4-0197-1000-4595-ee2936d9e94c","name":"","source":{"id":"8758dc8f-fd14-32c1-9df3-a7557ef9419b","type":"PROCESSOR","groupId":"f8bd880f-0905-35e6-8c75-ebb999f8c084","name":"ListFile","comments":"","instanceIdentifier":"65dca680-0197-1000-deca-378c251fd605"},"destination":{"id":"5de2dd81-0b1a-3ecf-ab88-cd7303bbe06e","type":"PROCESSOR","groupId":"f8bd880f-0905-35e6-8c75-ebb999f8c084","name":"FetchFile","comments":"","instanceIdentifier":"65de1d4b-0197-1000-7220-146787b193b9"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f8bd880f-0905-35e6-8c75-ebb999f8c084"}],"labels":[],"funnels":[{"identifier":"2f517f6e-1295-3491-b2b5-73fd8872c954","instanceIdentifier":"65ef70f4-0197-1000-69ca-62deed4f19ae","position":{"x":-336.0,"y":448.0},"componentType":"FUNNEL","groupIdentifier":"f8bd880f-0905-35e6-8c75-ebb999f8c084"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"4971c810-e8d2-39aa-bd88-c14fab4aa030"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a9ba29c0-fc4e-301a-ac94-e814412f6af2","instanceIdentifier":"67465b93-0197-1000-9e9c-d8b04b5f3731","name":"","source":{"id":"592a9b6c-bb99-38be-8648-289a924d371b","type":"OUTPUT_PORT","groupId":"668695ba-0197-1000-80bc-1badb6c6cc13","name":"rawRecords","instanceIdentifier":"6690ead9-0197-1000-1462-a8005f647fc4"},"destination":{"id":"b78e6557-e6f7-3c52-be56-ad662a7c6edf","type":"INPUT_PORT","groupId":"2df64335-644a-3ac4-a6d2-de5c7159f20d","name":"rawRecords","instanceIdentifier":"67463576-0197-1000-c7d7-354906f69022"},"labelIndex":0,"zIndex":2,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4971c810-e8d2-39aa-bd88-c14fab4aa030"},{"identifier":"d2d09ea0-52c4-3ce7-83cf-2200dbfef262","instanceIdentifier":"6692a044-0197-1000-d0c6-7f428ac04fea","name":"","source":{"id":"592a9b6c-bb99-38be-8648-289a924d371b","type":"OUTPUT_PORT","groupId":"668695ba-0197-1000-80bc-1badb6c6cc13","name":"rawRecords","instanceIdentifier":"6690ead9-0197-1000-1462-a8005f647fc4"},"destination":{"id":"96d47ca9-40b7-3ae0-88d3-8b4fca755da2","type":"INPUT_PORT","groupId":"22f92515-78d6-37d3-8a20-2ba773c0b907","name":"rawRecords","instanceIdentifier":"66926cf5-0197-1000-d424-e3acfc2663fd"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4971c810-e8d2-39aa-bd88-c14fab4aa030"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"39ea02d3-ca68-3c1a-ba8b-e5594a7d742d","instanceIdentifier":"66c0f073-0197-1000-70c1-78e952d7d742","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"false","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4971c810-e8d2-39aa-bd88-c14fab4aa030"},{"identifier":"6a383a24-4f47-35d5-99c9-8d43a2e01b63","instanceIdentifier":"66ce058c-0197-1000-378f-e2a6e7d045aa","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-cache":null,"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"encoder-pool-size":"32","schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4971c810-e8d2-39aa-bd88-c14fab4aa030"},{"identifier":"abfaa030-c050-3574-98d2-c604ee237227","instanceIdentifier":"66d9e669-0197-1000-e82f-168aa8c038ef","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.4.0"},"properties":{"profile-name":null,"assume-role-proxy-configuration-service":null,"default-credentials":"false","Session Time":"3600","assume-role-ssl-context-service":null,"assume-role-sts-signer-override":"Default Signature","custom-signer-class-name":null,"Assume Role ARN":null,"custom-signer-module-location":null,"Assume Role Session Name":null,"assume-role-sts-endpoint":null,"assume-role-sts-region":"us-west-2","Credentials File":null,"assume-role-external-id":null,"anonymous-credentials":"false"},"propertyDescriptors":{"profile-name":{"name":"profile-name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"assume-role-proxy-configuration-service":{"name":"assume-role-proxy-configuration-service","displayName":"Assume Role Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"default-credentials":{"name":"default-credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Time":{"name":"Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-ssl-context-service":{"name":"assume-role-ssl-context-service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"assume-role-sts-signer-override":{"name":"assume-role-sts-signer-override","displayName":"Assume Role STS Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-endpoint":{"name":"assume-role-sts-endpoint","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-region":{"name":"assume-role-sts-region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"assume-role-external-id":{"name":"assume-role-external-id","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"anonymous-credentials":{"name":"anonymous-credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.4.0"}},{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4971c810-e8d2-39aa-bd88-c14fab4aa030"},{"identifier":"1a52a786-0aab-3295-85b5-df68059faad3","instanceIdentifier":"66bfc773-0197-1000-6942-4ef41a95bbd7","name":"AvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"2.4.0"},"properties":{"avro-reg-validated-field-names":"true","pokemon_spawn":"{\n\"type\": \"record\",\n\"name\": \"pokemon_spawns\",\n\"fields\": [\n   \t{ \"name\": \"s2_id\", \"type\": \"long\" },\n   \t{ \"name\": \"s2_token\", \"type\": \"string\" },\n\t{ \"name\": \"num\", \"type\": \"int\" },\n    { \"name\": \"name\", \"type\": \"string\" },\n    { \"name\": \"lat\", \"type\": \"double\" },\n    { \"name\": \"lng\", \"type\": \"double\" },\n    { \"name\": \"encounter_ms\", \"type\": \"long\" },\n    { \"name\": \"disppear_ms\", \"type\": \"long\" }\n  ]\n}"},"propertyDescriptors":{"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pokemon_spawn":{"name":"pokemon_spawn","displayName":"pokemon_spawn","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4971c810-e8d2-39aa-bd88-c14fab4aa030"},{"identifier":"bcec56ef-4962-3725-9d4f-02d059061227","instanceIdentifier":"66c05ae8-0197-1000-41fe-1a151bf31604","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":"1a52a786-0aab-3295-85b5-df68059faad3","csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-name","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4971c810-e8d2-39aa-bd88-c14fab4aa030"},{"identifier":"4a3b783e-f5bb-3630-b675-ebd05b1b0f49","instanceIdentifier":"66ff1f88-0197-1000-568d-b41d5436b2ce","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.4.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"io.trino.jdbc.TrinoDriver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:trino://lester-free-cluster.trino.galaxy.starburst.io:443","dbcp-time-between-eviction-runs":"-1","Database User":"lester.martin@starburstdata.com/accountadmin","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/Users/lester.martin/explore/trino-jdbc-474.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4971c810-e8d2-39aa-bd88-c14fab4aa030"}],"parameterContextName":"IcebergIngestion","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"IcebergIngestion":{"name":"IcebergIngestion","parameters":[{"name":"bucket.path.add_files","description":"","sensitive":false,"provided":false,"value":"mygalaxy/nifi_add_files/pokemon_spawns"},{"name":"s3.bucket","description":"","sensitive":false,"provided":false,"value":"lestermartin.blog"},{"name":"bucket.path.ephemeral_tables","description":"","sensitive":false,"provided":false,"value":"mygalaxy/nifi_ephemeral_tables/pokemon_spawns"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}